html,
body {
	height: 100%;
	/* background-color: #777; */
	background: url('../img/white-wall.jpg') repeat;
	/* The html and body elements cannot have any padding or margin. */
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

div.main {
	padding-top: 60px;
}

/* Panels */
.panel {
	background-color: rgba(255, 255, 255, 0.8);
}

.panel a, .modal a {
	color: #606870;
	text-decoration: underline;
	background-color: inherit;
}

.panel a:hover, .modal a:hover {
	color: white;
	background-color: #606870;
	border-color: #606870;
	text-decoration: none;
}


.history-main .row, #top > .col-md-2 {
	padding-top: 60px;
}



.navbar-story .nav > .active > a {
	padding-left: 18px;
	font-weight: 700;
	color: white;
	background-color: transparent;
	border-left: 2px solid white;
}

.navbar-story .nav .nav > .active > a {
	padding-left: 28px;
	font-weight: 500;
}

.navbar-story .nav > .active > ul {
	display: block;
}

.navbar-story .nav > li > a:hover {
	color: #fff;
	background-color: transparent;
}

.navbar-story .nav .nav {
	display: none;
	padding-bottom: 10px;
}
.navbar-story .nav .nav li > a {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 30px;
	font-size: 12px;
	font-weight: 400;
}
.navbar-story .nav li > a {
	display: block;
	padding: 4px 20px;
	font-size: 13px;
	font-weight: 500;
	color: #999;
}

.navbar-story.affix {
	position: fixed;
	top: 60px;
}
.navbar-story.affix-bottom {
	position:absolute;
}

.navbar-story {
	background-color: #222;
	border-color: #080808;
	color:#999;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	font-weight: normal;
	width: 165px;
}

.navbar-link:hover {
	text-decoration:none;
}

div#history {
	position: relative;
}

/* Sprites (share menu) */
.sprite {
	background: url('../img/sprites.png') no-repeat;
	width: 29px;
	height: 29px;
	display: block;
}
.sprite.sprite-facebook {
	background-position: -64px -10px;
}
.sprite.sprite-twitter {
	background-position: 0 -10px;
	width: 36px;
}
.sprite.sprite-vimeo {
	background-position: -121px -10px;
}

/* Image positionning */	
#oniripolis-logo {
	width: 100%;
	margin-top: 0px;
	opacity: 0.85;
}

#oniripolis-tagline {
	position: relative;
	width: 50%;
	margin-top: -35%;
	left: 50%;
	opacity: 0.85;
}


/* Main navbar and menus */
.navbar-inverse .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown-menu > li > a:focus {
	color: #ffffff;
	background-color: transparent;
}
.navbar-inverse .dropdown-menu > li > a {
	color: #999999;
}

.dropdown-menu .fb-like,
.dropdown-menu .twitter-share {
	padding: 3px 10px;
}

.ul-horizontal > li {
	display: inline-block;
}
.dropdown-menu.ul-horizontal > li > a {
	padding: 3px 7px;
}

.dropdown-menu.ul-horizontal li.divider {
	display:block;
	float: none;
	clear: left;
}
.dropdown-menu.ul-horizontal li.dropdown-header {
	display:block;
}

.dropdown-wide {
	min-width: 185px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
	background-color: #080808;
}

cite {
	font-style: italic;
}

.modal-dialog {
	margin-top: 60px;
}

#signup .modal-body {
	padding-bottom: 0;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/* Buttons */
.btn-oniripolis {
	color: #fff;
	background-color: gray;
	border-color: gray;
}

.btn-oniripolis:hover {
	color: #fff;
	background-color: #5c5c5c;
	border-color: #5c5c5c;
}

/* Width-specific rules */
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}



