html,
body {
	height: 100%;
	/* background-color: #777; */
	background: url('../img/white-wall.jpg') repeat;
	/* The html and body elements cannot have any padding or margin. */
}

.sprite {
	background: url('../img/sprites.png') no-repeat;
	width: 29px;
	height: 29px;
	display: block;
}
.sprite.sprite-facebook {
	background-position: -64px -10px;
}
.sprite.sprite-twitter {
	background-position: 0 -10px;
	width: 36px;
}
.sprite.sprite-vimeo {
	background-position: -121px -10px;
}
	
.carousel {
  height: 100%;
}

.carousel .item {
	height: 100%;
}


#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

.carousel-caption {
	position: relative;
	width: 30%;
	min-width: 300px;
	background-color: rgba(0, 0, 0, 0.33);
	padding: 10px 20px;
	margin: 10% 0;
	border-radius: 10px;
	bottom: auto;
	z-index: 10;
	overflow-y: scroll;
}

.carousel-caption.jumbotron {
    width: 50%;
    min-width: 200px;
    top: 30%;
    left: 25%;
}

.navbar-inverse .dropdown-menu > li > a:hover,
.navbar-inverse .dropdown-menu > li > a:focus {
	color: #ffffff;
	background-color: transparent;
}
.navbar-inverse .dropdown-menu > li > a {
	color: #999999;
}

.dropdown-menu .fb-like,
.dropdown-menu .twitter-share {
	padding: 3px 10px;
}

.ul-horizontal > li {
	display: inline-block;
}
.dropdown-menu.ul-horizontal > li > a {
	padding: 3px 7px;
}

.dropdown-menu.ul-horizontal li.divider {
	display:block;
	float: none;
	clear: left;
}
.dropdown-menu.ul-horizontal li.dropdown-header {
	display:block;
}
.dropdown-menu.ul-horizontal li.dropdown-header + li {
/*	margin-left: 13px; */
}

.dropdown-wide {
	min-width: 185px;
}
.navbar-inverse .navbar-nav .open .dropdown-menu .divider {
	background-color: #080808;
}


.modal-dialog {
	margin-top: 60px;
}

#signup .modal-body {
	padding-bottom: 0;
}

/*
.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.33);
}
.dropdown-header {
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
*/
