html,
body {
	height: 100%;
	background-color: #777;
	/* The html and body elements cannot have any padding or margin. */
}
.carousel {
  height: 100%;
}
.carousel .item {
	height: 100%;
	background-color: #777;
}
.carousel-caption {
  z-index: 10;
  top: 30%;
}

.carousel-inner > .item > img {
	margin: 0 auto;
	min-width: 768px;
	min-height: 432px;
	width: auto;
	height: auto;
	overflow: hidden;
}
@media (min-width: 768px) {
	.carousel-inner > .item > img {
		width: 100%;
	}
}

.carousel-caption .jumbotron {
    background: none;
}
#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
}
#legal .modal-footer {
	margin-top : 0;
} 
#legal .modal-dialog {
}
#legal dl {
	margin-bottom: 0;
}
@media (min-width: 768px) {
	#legal dt {
		width: 210px;
	}
	#legal dd {
		margin-left: 230px;
	}
}
