<div class="modal fade bs-modal-ssm" id="confirm" tabindex="-1" role="dialog" aria-labelledby="confirm-title" aria-hidden="true">
	<div class="modal-dialog modal-ssm">
	    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="confirm-title">Une dernière vérification…</h4>
			</div>
			<div class="modal-body">
				Nous vérifions votre adresse email pour être sûrs que vous n'êtes pas un informateur de la Police des Rêves. Une fois cette formalité effectuée (ce qui peut prendre quelques minutes), vous devriez recevoir un email à l'adresse indiquée : il vous suffira alors de cliquer sur le lien qui y figure.
			</div>
			<div class="modal-footer">
	        	<button type="button" class="btn btn-oniripolis" data-dismiss="modal">J'ai compris !</button>
			</div>
	    </div>
	</div>
</div>
