<div class="navbar-wrapper">
    <!--<div class="container">-->
        <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation" style="position: relative; width: 100%;">
            <div class="container">
                <div class="navbar-header">
                    <p class="navbar-text navbar-left">Oniripolis 2013-2014 — <em>Tous droits réservés</em> — <a href="legal.html" class="navbar-link">Mentions légales</a></p>

                </div>
            </div>
        </div>
    <!--</div>-->
</div>

