<div class="modal fade bs-modal-ssm" id="goodbye" tabindex="-1" role="dialog" aria-labelledby="goodbye-title" aria-hidden="true">
	<div class="modal-dialog modal-ssm">
	    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="goodbye-title">Au revoir !</h4>
			</div>
			<div class="modal-body">
				Vous ne figurez désormais plus sur nos listes et ne recevrez donc plus aucun message de notre part. N'hésitez pas à nous envoyer un petit mot d'au-revoir si le cœur vous en dit, cela nous ferait grandement plaisir !
			</div>
			<div class="modal-footer">
	        	<button type="button" class="btn btn-oniripolis" data-dismiss="modal">Fermer</button>
			</div>
	    </div>
	</div>
</div>
