<div class="modal fade bs-modal-sm" id="legal" tabindex="-1" role="dialog" aria-labelledby="legal-title" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form">
		    <div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="legal-title">Mentions légales</h4>
				</div>
				<div class="modal-body">
					<dl class="dl-horizontal">
						<dt>Éditeur</dt>
						<dd>Association loi 1901 "Oniripolis"<br />73 rue de la Victoire, 75009 Paris</dd>
						<dt>Responsable de la rédaction</dt>
						<dd>Olivier Sambourg</dd>
						<dt>Hébergeur</dt>
						<dd><a href="http://github.io" title="Github">Github</a></dd>
					</dl>
				</div>
				<!--
				<div class="modal-footer">
		        	<button type="button" class="btn btn-default btn-primary" data-dismiss="modal">Fermer</button>
				</div>
				-->
		    </div>
		</form>
	</div>
</div>
