<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Masquer</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">Oniripolis</a>
                </div>
                <div class="navbar-collapse collapse">
                    <p class="navbar-text navbar-left"><small><em>La cité des rêves</em></small></p>
                    <ul class="nav navbar-nav navbar-right" id="main-navbar">
                        <li><a href="/resistance.html">La résistance</a></li>
                        <li><a href="/history.html">Notre histoire</a></li>
                        <li><a href="#contact" data-toggle="modal" data-target="#signup">Inscription</a></li>
                        {% include share.html %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>