<li class="dropdown navbar-inverse">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-share"></span></a>
    <ul class="dropdown-menu navbar-inverse ul-horizontal">
        <li class="dropdown-header">Partager</li>
        <li><div class="fb-like" data-href="{{ site.url }}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div></li>
        <li><div class="twitter-share"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="fr" data-related="oniripolis" data-via="oniripolis" data-url="http://oniripolis.fr" data-text="Découvrez #Oniripolis, la cité des rêves :" data-count="horizontal" data-size="small">Tweeter</a></div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
        <li class="divider"></li>
        <li class="dropdown-header">Nous suivre</li>
        <li style="padding-left: 3px;"><a href="http://facebook.com/oniripolis"><span class="sprite sprite-facebook"></span></a></li>
        <li><a href="http://twitter.com/oniripolis"><span class="sprite sprite-twitter"></span></a></li>
        <li><a href="http://vimeo.com/oniripolis"><span class="sprite sprite-vimeo"></span></a></li>
    </ul>
</li>