<div class="modal fade bs-modal-ssm" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup-title" aria-hidden="true">
	<div class="modal-dialog modal-ssm">
	    <div class="modal-content">
			<form role="form" id="mc-form">
				<div class="modal-body">
					<div class="form-group">
				        <label for="mc-email" class="control-label">Inscrivez-vous pour savoir où nous trouver</label>
						<input type="email" class="form-control" id="mc-email" placeholder="Adresse e-mail" />
						<p class="help-block">Pourquoi faut-il s'inscrire ? Oniripolis est un havre de résistance qui doit sans cesse échapper à la vigilance de la <a href="history.html#repression">Police des Rêves</a>. Les dates sont annoncées avec un peu d'avance mais le lieu exact n'est dévoilé que le jour même. Ne nous manquez pas !</p>
					</div>
					<!--
					<div class="form-group">
						<p class="help-block">Vous pouvez également indiquer votre code postal pour ne recevoir que des informations locales</p>
						<input type="text" class="form-control" id="signup-zipcode" pattern="\d*" placeholder="Code postal (facultatif)" />
					</div>
					-->
				</div>
				<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
					<button type="submit" class="btn btn-oniripolis">S'inscrire</button>
				</div>
			</form>
	    </div>
	</div>
</div>
