<div class="modal fade bs-modal-sm" id="signup" tabindex="-1" role="dialog" aria-labelledby="signup-title" aria-hidden="true">
	<div class="modal-dialog">
		<form role="form">
		    <div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="signup-title">Inscrivez-vous pour recevoir nos invitations</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<input type="email" class="form-control" id="signup-email" placeholder="Adresse e-mail" />
					</div>
					<div class="form-group">
						<p class="help-block"><small>Indiquez votre code postal pour ne recevoir que des informations locales</small></p>
						<input type="text" class="form-control" id="signup-zipcode" pattern="\d*" placeholder="Code postal" />
					</div>
				</div>
				<div class="modal-footer">
		        	<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
					<button type="submit" class="btn btn-primary">S'inscrire</button>
				</div>
		    </div>
		</form>
	</div>
</div>
