<div class="modal fade bs-modal-ssm" id="updated" tabindex="-1" role="dialog" aria-labelledby="updated-title" aria-hidden="true">
	<div class="modal-dialog modal-ssm">
	    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="updated-title">Données personnelles mises à jour</h4>
			</div>
			<div class="modal-body">
				Vos coordonnées ont été mises à jour, vous ne risquez plus de rater une session… A bientôt !
			</div>
			<div class="modal-footer">
	        	<button type="button" class="btn btn-oniripolis" data-dismiss="modal">Fermer</button>
			</div>
	    </div>
	</div>
</div>
