<div class="modal fade bs-modal-ssm" id="welcome" tabindex="-1" role="dialog" aria-labelledby="welcome-title" aria-hidden="true">
	<div class="modal-dialog modal-ssm">
	    <div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="welcome-title">Bienvenue !</h4>
			</div>
			<div class="modal-body">
				Nous vous indiquerons désormais le lieu de chacun des prochains rendez-vous d'Oniripolis. N'ayez crainte : nous ne polluerons pas votre boite aux lettres et nous ne transmettrons jamais votre identité à la Police des Rêves…
			</div>
			<div class="modal-footer">
	        	<button type="button" class="btn btn-oniripolis" data-dismiss="modal">Fermer</button>
			</div>
	    </div>
	</div>
</div>
