<!DOCTYPE html>
<html lang="fr">
    <head>
		{% include header.html %}
    </head>
    <body>
    	{% include facebook-sdk.html %}
    	<div id="wrap">
	    
	        {% include navbar.html %}

			{% include signup.html %}
			{% include legal.html %}
			
			{{ page.content }}
	    
    	</div>
    	
    	{% include footer.html %}

        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/holder.js"></script>
        <script src="js/oniripolis.js"></script>

    </body>
</html>