<!DOCTYPE html>
<html lang="fr">
    <head>
		{% include header.html %}
    </head>
    <body data-spy="scroll" data-target=".navbar-story">
    	{% include social-sdk.html %}
    	<div id="wrap">
	    	
	        {% include navbar.html %}

			{% include signup.html %}
			{% include legal.html %}
			{% include confirm.html %}
			{% include welcome.html %}
			{% include goodbye.html %}
			
			{{ page.content }}
	    
    	</div>
    	
    	{% include footer.html %}

        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/holder.min.js"></script><!-- TEMPORARY -->
        <script src="js/jquery.ajaxchimp.min.js"></script>
        <script src="js/oniripolis.js"></script>

    </body>
</html>